
<% content_for :header do %>
<section class="hero is-warning">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Browse the latest laptop on our community
      </h1>
    </div>
  </div>
</section>
<% end %>

<p> <%= link_to "Back", new_search_path      %></p>

<% if @search.search_laptops.empty?     %>

<p>No records found</p>

<% else %>

<% @search.search_laptops.each do |c|   %>
<br>



<div class="container laptop-search">
  
  
      
      <div class="column is-8 pv3 ">
        <h1 class="title is-4"> <%= link_to c.title, laptop_path(c)   %></h1>
      

      <table class="table is-narrow">
     
        <tr>
          <td class="has-text-weight-bold">Condition:</td>
           <td><%= c.condition %></td>
        </tr>
      

    
          <tr>
            <td class="has-text-weight-bold">Finish:</td>
            <td><%= c.finish %></td>
          </tr>
    
       
          <tr>
            <td class="has-text-weight-bold">Brand:</td>
            <td><%= c.brand %></td>
          </tr>
      

        <tr>
          <td class="has-text-weight-bold">Model:</td>
          <td><%= c.model %></td>
        </tr>

         <tr>
          <td class="has-text-weight-bold">Price:</td>
          <td><%= number_to_currency(c.price, :unit => ' €') %></td>
        </tr>

      </table>
   
    </div>
   
    <% end %>
 
</div>
   <% end %>
   